In [52]:
import pickle
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures

pd.set_option('display.max_columns', 300)

## Step 1: Read in hold out data, scalers, and best model

In [53]:
df = pd.read_csv('Resources/kc_house_data_test_features.csv', index_col=0) #holdout
final_model = pickle.load(open('poly2_modelx.pickle','rb'))

to_drop = ['id']
df = df.drop(['id'], axis=1)

In [54]:
print('Number of columns in model: ', len(final_model.coef_))

Number of columns in model:  28

In [55]:
df.head()

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20140827T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
1,20150218T000000,4,2.50,2270,11500,1.0,0,0,3,8,1540,730,1967,0,98034,47.7089,-122.241,2020,10918
2,20141107T000000,3,2.50,1470,1779,2.0,0,0,3,8,1160,310,2005,0,98029,47.5472,-121.998,1470,1576
3,20141203T000000,3,1.75,1280,16200,1.0,0,0,3,8,1030,250,1976,0,98077,47.7427,-122.071,1160,10565
4,20150115T000000,4,2.75,2830,8126,2.0,0,0,3,8,2830,0,2005,0,98059,47.4863,-122.140,2830,7916

## Step 2: Feature Engineering for holdout set

Remember we have to perform the same transformations on our holdout data (feature engineering, extreme values, and scaling) that we performed on the original data.

In [56]:
# adjuting sqft home outliers to within 6 standard deviations of the mean
for col in ['sqft_above', 'sqft_living', 'sqft_living15']: 
    above_6std = df[col].mean()+(6*df[col].std())
    df[col] = np.where(df[col].values >above_6std, df[col].mean()+6*df[col].std(), df[col])
    
# adjusting lot outliers to within 9 standard deviations of the mean
for col in ['sqft_lot', 'sqft_lot15']: 
    above_9std = df[col].mean()+(9*df[col].std())
    df[col] = np.where(df[col].values >above_6std, df[col].mean()+9*df[col].std(), df[col])

In [57]:
#Fixing 'bathrooms' outliers
bathroom_median = df.bathrooms.median()
df.loc[df.bathrooms == 0, 'bathrooms'] = np.nan
df.fillna(bathroom_median,inplace=True)

In [58]:
df['month_sold'] = pd.to_datetime(df['date'].str.slice(0,8), format='%Y%m%d', errors='ignore').dt.month
df.drop('date',axis=1,inplace=True)

#adjusting bedrooms outliers 
df['bedrooms'] = df['bedrooms'].apply(lambda x : 9 if x > 9 else x)

In [60]:
# #Run model without this parameter first
# df['bathrooms'] = np.where(df.bathrooms>6, 6, df['bathrooms'])

In [61]:
## RUN THIS CELL ONLY ONCE!


# Create new column floors x sqft_living
df['floors_x_sqft_living'] = df['floors']*df['sqft_living']

#Create new column 'age' for age of house
df['age'] = 2015 - df.yr_built

#Create dummy variable 'basement' y/n
df['basement'] = np.where(df['sqft_basement']>0 , 1, 0)
df = pd.get_dummies(df, columns=['basement'], drop_first=True)

#Create a new column 'neighbors_compared' with sqft_living - sqft_living15
df['neighbors_compared'] = df.sqft_living - df.sqft_living15

#Create dummy columns of 'condition' 
df = pd.get_dummies(df, columns=['condition'], drop_first=True)

#Create dummy columns of 'floors'
df = pd.get_dummies(df, columns=['floors'], drop_first=True)

In [62]:
#RUN CELL ONLY ONCE

#Create new column 'last_renovted' for how long ago since last renovation
df['last_ren'] = np.where(df['yr_renovated'] > 0, (2015 - df['yr_renovated']), 0)

#Create new column 'last_ren2' for how long (years) since last renovation and including age if no renovation
df['last_ren2'] = np.where(df['yr_renovated'] > 0, (2015 - df['yr_renovated']), (2015 - df['yr_built']))

#Create dummy columns using 'renovated'
df['renovated'] = np.where(df['yr_renovated']>0 , 1, 0)
df = pd.get_dummies(df, columns=['renovated'], drop_first=True)

In [63]:
# Create dummy variables for zipcodes
zip_dummies = pd.get_dummies(df['zipcode'].astype(str), drop_first=True)
df.drop('zipcode',axis=1,inplace=True)

In [64]:
#concat zipcodes dataframe with main
df = pd.concat([df, zip_dummies], axis=1)

## Step 3: Predict the holdout set

In [65]:
df.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'waterfront',
       'view', 'grade', 'sqft_above', 'sqft_basement', 'yr_built',
       ...
       '98146', '98148', '98155', '98166', '98168', '98177', '98178', '98188',
       '98198', '98199'],
      dtype='object', length=101)

In [66]:
poly= PolynomialFeatures(degree=2, include_bias=False)
poly_data = poly.fit_transform(df)
poly_columns = poly.get_feature_names(df.columns)
df_poly = pd.DataFrame(poly_data, columns=poly_columns)

In [67]:
list(poly_columns)

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'waterfront',
 'view',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15',
 'month_sold',
 'floors_x_sqft_living',
 'age',
 'basement_1',
 'neighbors_compared',
 'condition_2',
 'condition_3',
 'condition_4',
 'condition_5',
 'floors_1.5',
 'floors_2.0',
 'floors_2.5',
 'floors_3.0',
 'floors_3.5',
 'last_ren',
 'last_ren2',
 'renovated_1',
 '98002',
 '98003',
 '98004',
 '98005',
 '98006',
 '98007',
 '98008',
 '98010',
 '98011',
 '98014',
 '98019',
 '98022',
 '98023',
 '98024',
 '98027',
 '98028',
 '98029',
 '98030',
 '98031',
 '98032',
 '98033',
 '98034',
 '98038',
 '98039',
 '98040',
 '98042',
 '98045',
 '98052',
 '98053',
 '98055',
 '98056',
 '98058',
 '98059',
 '98065',
 '98070',
 '98072',
 '98074',
 '98075',
 '98077',
 '98092',
 '98102',
 '98103',
 '98105',
 '98106',
 '98107',
 '98108',
 '98109',
 '98112',
 '98115',
 '98116',
 '98117',
 '98118',
 '98119',
 '98122',
 '98125',
 '98126',
 '98133',
 '98136',
 '98144',
 '98146',
 '98148',
 '98155',
 '98166',
 '98168',
 '98177',
 '98178',
 '98188',
 '98198',
 '98199',
 'bedrooms^2',
 'bedrooms bathrooms',
 'bedrooms sqft_living',
 'bedrooms sqft_lot',
 'bedrooms waterfront',
 'bedrooms view',
 'bedrooms grade',
 'bedrooms sqft_above',
 'bedrooms sqft_basement',
 'bedrooms yr_built',
 'bedrooms yr_renovated',
 'bedrooms lat',
 'bedrooms long',
 'bedrooms sqft_living15',
 'bedrooms sqft_lot15',
 'bedrooms month_sold',
 'bedrooms floors_x_sqft_living',
 'bedrooms age',
 'bedrooms basement_1',
 'bedrooms neighbors_compared',
 'bedrooms condition_2',
 'bedrooms condition_3',
 'bedrooms condition_4',
 'bedrooms condition_5',
 'bedrooms floors_1.5',
 'bedrooms floors_2.0',
 'bedrooms floors_2.5',
 'bedrooms floors_3.0',
 'bedrooms floors_3.5',
 'bedrooms last_ren',
 'bedrooms last_ren2',
 'bedrooms renovated_1',
 'bedrooms 98002',
 'bedrooms 98003',
 'bedrooms 98004',
 'bedrooms 98005',
 'bedrooms 98006',
 'bedrooms 98007',
 'bedrooms 98008',
 'bedrooms 98010',
 'bedrooms 98011',
 'bedrooms 98014',
 'bedrooms 98019',
 'bedrooms 98022',
 'bedrooms 98023',
 'bedrooms 98024',
 'bedrooms 98027',
 'bedrooms 98028',
 'bedrooms 98029',
 'bedrooms 98030',
 'bedrooms 98031',
 'bedrooms 98032',
 'bedrooms 98033',
 'bedrooms 98034',
 'bedrooms 98038',
 'bedrooms 98039',
 'bedrooms 98040',
 'bedrooms 98042',
 'bedrooms 98045',
 'bedrooms 98052',
 'bedrooms 98053',
 'bedrooms 98055',
 'bedrooms 98056',
 'bedrooms 98058',
 'bedrooms 98059',
 'bedrooms 98065',
 'bedrooms 98070',
 'bedrooms 98072',
 'bedrooms 98074',
 'bedrooms 98075',
 'bedrooms 98077',
 'bedrooms 98092',
 'bedrooms 98102',
 'bedrooms 98103',
 'bedrooms 98105',
 'bedrooms 98106',
 'bedrooms 98107',
 'bedrooms 98108',
 'bedrooms 98109',
 'bedrooms 98112',
 'bedrooms 98115',
 'bedrooms 98116',
 'bedrooms 98117',
 'bedrooms 98118',
 'bedrooms 98119',
 'bedrooms 98122',
 'bedrooms 98125',
 'bedrooms 98126',
 'bedrooms 98133',
 'bedrooms 98136',
 'bedrooms 98144',
 'bedrooms 98146',
 'bedrooms 98148',
 'bedrooms 98155',
 'bedrooms 98166',
 'bedrooms 98168',
 'bedrooms 98177',
 'bedrooms 98178',
 'bedrooms 98188',
 'bedrooms 98198',
 'bedrooms 98199',
 'bathrooms^2',
 'bathrooms sqft_living',
 'bathrooms sqft_lot',
 'bathrooms waterfront',
 'bathrooms view',
 'bathrooms grade',
 'bathrooms sqft_above',
 'bathrooms sqft_basement',
 'bathrooms yr_built',
 'bathrooms yr_renovated',
 'bathrooms lat',
 'bathrooms long',
 'bathrooms sqft_living15',
 'bathrooms sqft_lot15',
 'bathrooms month_sold',
 'bathrooms floors_x_sqft_living',
 'bathrooms age',
 'bathrooms basement_1',
 'bathrooms neighbors_compared',
 'bathrooms condition_2',
 'bathrooms condition_3',
 'bathrooms condition_4',
 'bathrooms condition_5',
 'bathrooms floors_1.5',
 'bathrooms floors_2.0',
 'bathrooms floors_2.5',
 'bathrooms floors_3.0',
 'bathrooms floors_3.5',
 'bathrooms last_ren',
 'bathrooms last_ren2',
 'bathrooms renovated_1',
 'bathrooms 98002',
 'bathrooms 98003',
 'bathrooms 98004',
 'bathrooms 98005',
 'bathrooms 98006',
 'bathrooms 98007',
 'bathrooms 98008',
 'bathrooms 98010',
 'bathrooms 98011',
 'bathrooms 98014',
 'bathrooms 98019',
 'bathrooms 98022',
 'bathrooms 98023',
 'bathrooms 98024',
 'bathrooms 98027',
 'bathrooms 98028',
 'bathrooms 98029',
 'bathrooms 98030',
 'bathrooms 98031',
 'bathrooms 98032',
 'bathrooms 98033',
 'bathrooms 98034',
 'bathrooms 98038',
 'bathrooms 98039',
 'bathrooms 98040',
 'bathrooms 98042',
 'bathrooms 98045',
 'bathrooms 98052',
 'bathrooms 98053',
 'bathrooms 98055',
 'bathrooms 98056',
 'bathrooms 98058',
 'bathrooms 98059',
 'bathrooms 98065',
 'bathrooms 98070',
 'bathrooms 98072',
 'bathrooms 98074',
 'bathrooms 98075',
 'bathrooms 98077',
 'bathrooms 98092',
 'bathrooms 98102',
 'bathrooms 98103',
 'bathrooms 98105',
 'bathrooms 98106',
 'bathrooms 98107',
 'bathrooms 98108',
 'bathrooms 98109',
 'bathrooms 98112',
 'bathrooms 98115',
 'bathrooms 98116',
 'bathrooms 98117',
 'bathrooms 98118',
 'bathrooms 98119',
 'bathrooms 98122',
 'bathrooms 98125',
 'bathrooms 98126',
 'bathrooms 98133',
 'bathrooms 98136',
 'bathrooms 98144',
 'bathrooms 98146',
 'bathrooms 98148',
 'bathrooms 98155',
 'bathrooms 98166',
 'bathrooms 98168',
 'bathrooms 98177',
 'bathrooms 98178',
 'bathrooms 98188',
 'bathrooms 98198',
 'bathrooms 98199',
 'sqft_living^2',
 'sqft_living sqft_lot',
 'sqft_living waterfront',
 'sqft_living view',
 'sqft_living grade',
 'sqft_living sqft_above',
 'sqft_living sqft_basement',
 'sqft_living yr_built',
 'sqft_living yr_renovated',
 'sqft_living lat',
 'sqft_living long',
 'sqft_living sqft_living15',
 'sqft_living sqft_lot15',
 'sqft_living month_sold',
 'sqft_living floors_x_sqft_living',
 'sqft_living age',
 'sqft_living basement_1',
 'sqft_living neighbors_compared',
 'sqft_living condition_2',
 'sqft_living condition_3',
 'sqft_living condition_4',
 'sqft_living condition_5',
 'sqft_living floors_1.5',
 'sqft_living floors_2.0',
 'sqft_living floors_2.5',
 'sqft_living floors_3.0',
 'sqft_living floors_3.5',
 'sqft_living last_ren',
 'sqft_living last_ren2',
 'sqft_living renovated_1',
 'sqft_living 98002',
 'sqft_living 98003',
 'sqft_living 98004',
 'sqft_living 98005',
 'sqft_living 98006',
 'sqft_living 98007',
 'sqft_living 98008',
 'sqft_living 98010',
 'sqft_living 98011',
 'sqft_living 98014',
 'sqft_living 98019',
 'sqft_living 98022',
 'sqft_living 98023',
 'sqft_living 98024',
 'sqft_living 98027',
 'sqft_living 98028',
 'sqft_living 98029',
 'sqft_living 98030',
 'sqft_living 98031',
 'sqft_living 98032',
 'sqft_living 98033',
 'sqft_living 98034',
 'sqft_living 98038',
 'sqft_living 98039',
 'sqft_living 98040',
 'sqft_living 98042',
 'sqft_living 98045',
 'sqft_living 98052',
 'sqft_living 98053',
 'sqft_living 98055',
 'sqft_living 98056',
 'sqft_living 98058',
 'sqft_living 98059',
 'sqft_living 98065',
 'sqft_living 98070',
 'sqft_living 98072',
 'sqft_living 98074',
 'sqft_living 98075',
 'sqft_living 98077',
 'sqft_living 98092',
 'sqft_living 98102',
 'sqft_living 98103',
 'sqft_living 98105',
 'sqft_living 98106',
 'sqft_living 98107',
 'sqft_living 98108',
 'sqft_living 98109',
 'sqft_living 98112',
 'sqft_living 98115',
 'sqft_living 98116',
 'sqft_living 98117',
 'sqft_living 98118',
 'sqft_living 98119',
 'sqft_living 98122',
 'sqft_living 98125',
 'sqft_living 98126',
 'sqft_living 98133',
 'sqft_living 98136',
 'sqft_living 98144',
 'sqft_living 98146',
 'sqft_living 98148',
 'sqft_living 98155',
 'sqft_living 98166',
 'sqft_living 98168',
 'sqft_living 98177',
 'sqft_living 98178',
 'sqft_living 98188',
 'sqft_living 98198',
 'sqft_living 98199',
 'sqft_lot^2',
 'sqft_lot waterfront',
 'sqft_lot view',
 'sqft_lot grade',
 'sqft_lot sqft_above',
 'sqft_lot sqft_basement',
 'sqft_lot yr_built',
 'sqft_lot yr_renovated',
 'sqft_lot lat',
 'sqft_lot long',
 'sqft_lot sqft_living15',
 'sqft_lot sqft_lot15',
 'sqft_lot month_sold',
 'sqft_lot floors_x_sqft_living',
 'sqft_lot age',
 'sqft_lot basement_1',
 'sqft_lot neighbors_compared',
 'sqft_lot condition_2',
 'sqft_lot condition_3',
 'sqft_lot condition_4',
 'sqft_lot condition_5',
 'sqft_lot floors_1.5',
 'sqft_lot floors_2.0',
 'sqft_lot floors_2.5',
 'sqft_lot floors_3.0',
 'sqft_lot floors_3.5',
 'sqft_lot last_ren',
 'sqft_lot last_ren2',
 'sqft_lot renovated_1',
 'sqft_lot 98002',
 'sqft_lot 98003',
 'sqft_lot 98004',
 'sqft_lot 98005',
 'sqft_lot 98006',
 'sqft_lot 98007',
 'sqft_lot 98008',
 'sqft_lot 98010',
 'sqft_lot 98011',
 'sqft_lot 98014',
 'sqft_lot 98019',
 'sqft_lot 98022',
 'sqft_lot 98023',
 'sqft_lot 98024',
 'sqft_lot 98027',
 'sqft_lot 98028',
 'sqft_lot 98029',
 'sqft_lot 98030',
 'sqft_lot 98031',
 'sqft_lot 98032',
 'sqft_lot 98033',
 'sqft_lot 98034',
 'sqft_lot 98038',
 'sqft_lot 98039',
 'sqft_lot 98040',
 'sqft_lot 98042',
 'sqft_lot 98045',
 'sqft_lot 98052',
 'sqft_lot 98053',
 'sqft_lot 98055',
 'sqft_lot 98056',
 'sqft_lot 98058',
 'sqft_lot 98059',
 'sqft_lot 98065',
 'sqft_lot 98070',
 'sqft_lot 98072',
 'sqft_lot 98074',
 'sqft_lot 98075',
 'sqft_lot 98077',
 'sqft_lot 98092',
 'sqft_lot 98102',
 'sqft_lot 98103',
 'sqft_lot 98105',
 'sqft_lot 98106',
 'sqft_lot 98107',
 'sqft_lot 98108',
 'sqft_lot 98109',
 'sqft_lot 98112',
 'sqft_lot 98115',
 'sqft_lot 98116',
 'sqft_lot 98117',
 'sqft_lot 98118',
 'sqft_lot 98119',
 'sqft_lot 98122',
 'sqft_lot 98125',
 'sqft_lot 98126',
 'sqft_lot 98133',
 'sqft_lot 98136',
 'sqft_lot 98144',
 'sqft_lot 98146',
 'sqft_lot 98148',
 'sqft_lot 98155',
 'sqft_lot 98166',
 'sqft_lot 98168',
 'sqft_lot 98177',
 'sqft_lot 98178',
 'sqft_lot 98188',
 'sqft_lot 98198',
 'sqft_lot 98199',
 'waterfront^2',
 'waterfront view',
 'waterfront grade',
 'waterfront sqft_above',
 'waterfront sqft_basement',
 'waterfront yr_built',
 'waterfront yr_renovated',
 'waterfront lat',
 'waterfront long',
 'waterfront sqft_living15',
 'waterfront sqft_lot15',
 'waterfront month_sold',
 'waterfront floors_x_sqft_living',
 'waterfront age',
 'waterfront basement_1',
 'waterfront neighbors_compared',
 'waterfront condition_2',
 'waterfront condition_3',
 'waterfront condition_4',
 'waterfront condition_5',
 'waterfront floors_1.5',
 'waterfront floors_2.0',
 'waterfront floors_2.5',
 'waterfront floors_3.0',
 'waterfront floors_3.5',
 'waterfront last_ren',
 'waterfront last_ren2',
 'waterfront renovated_1',
 'waterfront 98002',
 'waterfront 98003',
 'waterfront 98004',
 'waterfront 98005',
 'waterfront 98006',
 'waterfront 98007',
 'waterfront 98008',
 'waterfront 98010',
 'waterfront 98011',
 'waterfront 98014',
 'waterfront 98019',
 'waterfront 98022',
 'waterfront 98023',
 'waterfront 98024',
 'waterfront 98027',
 'waterfront 98028',
 'waterfront 98029',
 'waterfront 98030',
 'waterfront 98031',
 'waterfront 98032',
 'waterfront 98033',
 'waterfront 98034',
 'waterfront 98038',
 'waterfront 98039',
 'waterfront 98040',
 'waterfront 98042',
 'waterfront 98045',
 'waterfront 98052',
 'waterfront 98053',
 'waterfront 98055',
 'waterfront 98056',
 'waterfront 98058',
 'waterfront 98059',
 'waterfront 98065',
 'waterfront 98070',
 'waterfront 98072',
 'waterfront 98074',
 'waterfront 98075',
 'waterfront 98077',
 'waterfront 98092',
 'waterfront 98102',
 'waterfront 98103',
 'waterfront 98105',
 'waterfront 98106',
 'waterfront 98107',
 'waterfront 98108',
 'waterfront 98109',
 'waterfront 98112',
 'waterfront 98115',
 'waterfront 98116',
 'waterfront 98117',
 'waterfront 98118',
 'waterfront 98119',
 'waterfront 98122',
 'waterfront 98125',
 'waterfront 98126',
 'waterfront 98133',
 'waterfront 98136',
 'waterfront 98144',
 'waterfront 98146',
 'waterfront 98148',
 'waterfront 98155',
 'waterfront 98166',
 'waterfront 98168',
 'waterfront 98177',
 'waterfront 98178',
 'waterfront 98188',
 'waterfront 98198',
 'waterfront 98199',
 'view^2',
 'view grade',
 'view sqft_above',
 'view sqft_basement',
 'view yr_built',
 'view yr_renovated',
 'view lat',
 'view long',
 'view sqft_living15',
 'view sqft_lot15',
 'view month_sold',
 'view floors_x_sqft_living',
 'view age',
 'view basement_1',
 'view neighbors_compared',
 'view condition_2',
 'view condition_3',
 'view condition_4',
 'view condition_5',
 'view floors_1.5',
 'view floors_2.0',
 'view floors_2.5',
 'view floors_3.0',
 'view floors_3.5',
 'view last_ren',
 'view last_ren2',
 'view renovated_1',
 'view 98002',
 'view 98003',
 'view 98004',
 'view 98005',
 'view 98006',
 'view 98007',
 'view 98008',
 'view 98010',
 'view 98011',
 'view 98014',
 'view 98019',
 'view 98022',
 'view 98023',
 'view 98024',
 'view 98027',
 'view 98028',
 'view 98029',
 'view 98030',
 'view 98031',
 'view 98032',
 'view 98033',
 'view 98034',
 'view 98038',
 'view 98039',
 'view 98040',
 'view 98042',
 'view 98045',
 'view 98052',
 'view 98053',
 'view 98055',
 'view 98056',
 'view 98058',
 'view 98059',
 'view 98065',
 'view 98070',
 'view 98072',
 'view 98074',
 'view 98075',
 'view 98077',
 'view 98092',
 'view 98102',
 'view 98103',
 'view 98105',
 'view 98106',
 'view 98107',
 'view 98108',
 'view 98109',
 'view 98112',
 'view 98115',
 'view 98116',
 'view 98117',
 'view 98118',
 'view 98119',
 'view 98122',
 'view 98125',
 'view 98126',
 'view 98133',
 'view 98136',
 'view 98144',
 'view 98146',
 'view 98148',
 'view 98155',
 'view 98166',
 'view 98168',
 'view 98177',
 'view 98178',
 'view 98188',
 'view 98198',
 'view 98199',
 'grade^2',
 'grade sqft_above',
 'grade sqft_basement',
 'grade yr_built',
 'grade yr_renovated',
 'grade lat',
 'grade long',
 'grade sqft_living15',
 'grade sqft_lot15',
 'grade month_sold',
 'grade floors_x_sqft_living',
 'grade age',
 'grade basement_1',
 'grade neighbors_compared',
 'grade condition_2',
 'grade condition_3',
 'grade condition_4',
 'grade condition_5',
 'grade floors_1.5',
 'grade floors_2.0',
 'grade floors_2.5',
 'grade floors_3.0',
 'grade floors_3.5',
 'grade last_ren',
 'grade last_ren2',
 'grade renovated_1',
 'grade 98002',
 'grade 98003',
 'grade 98004',
 'grade 98005',
 'grade 98006',
 'grade 98007',
 'grade 98008',
 'grade 98010',
 'grade 98011',
 'grade 98014',
 'grade 98019',
 'grade 98022',
 'grade 98023',
 'grade 98024',
 'grade 98027',
 'grade 98028',
 'grade 98029',
 'grade 98030',
 'grade 98031',
 'grade 98032',
 'grade 98033',
 'grade 98034',
 'grade 98038',
 'grade 98039',
 'grade 98040',
 'grade 98042',
 'grade 98045',
 'grade 98052',
 'grade 98053',
 'grade 98055',
 'grade 98056',
 'grade 98058',
 'grade 98059',
 'grade 98065',
 'grade 98070',
 'grade 98072',
 'grade 98074',
 'grade 98075',
 'grade 98077',
 'grade 98092',
 'grade 98102',
 'grade 98103',
 'grade 98105',
 'grade 98106',
 'grade 98107',
 'grade 98108',
 'grade 98109',
 'grade 98112',
 'grade 98115',
 'grade 98116',
 'grade 98117',
 'grade 98118',
 'grade 98119',
 'grade 98122',
 'grade 98125',
 'grade 98126',
 'grade 98133',
 'grade 98136',
 'grade 98144',
 'grade 98146',
 'grade 98148',
 'grade 98155',
 'grade 98166',
 'grade 98168',
 'grade 98177',
 'grade 98178',
 'grade 98188',
 'grade 98198',
 'grade 98199',
 'sqft_above^2',
 'sqft_above sqft_basement',
 'sqft_above yr_built',
 'sqft_above yr_renovated',
 'sqft_above lat',
 'sqft_above long',
 'sqft_above sqft_living15',
 'sqft_above sqft_lot15',
 'sqft_above month_sold',
 'sqft_above floors_x_sqft_living',
 'sqft_above age',
 'sqft_above basement_1',
 'sqft_above neighbors_compared',
 'sqft_above condition_2',
 'sqft_above condition_3',
 'sqft_above condition_4',
 'sqft_above condition_5',
 'sqft_above floors_1.5',
 'sqft_above floors_2.0',
 'sqft_above floors_2.5',
 'sqft_above floors_3.0',
 'sqft_above floors_3.5',
 'sqft_above last_ren',
 'sqft_above last_ren2',
 'sqft_above renovated_1',
 'sqft_above 98002',
 'sqft_above 98003',
 'sqft_above 98004',
 'sqft_above 98005',
 'sqft_above 98006',
 'sqft_above 98007',
 'sqft_above 98008',
 'sqft_above 98010',
 'sqft_above 98011',
 'sqft_above 98014',
 'sqft_above 98019',
 'sqft_above 98022',
 'sqft_above 98023',
 'sqft_above 98024',
 'sqft_above 98027',
 'sqft_above 98028',
 'sqft_above 98029',
 'sqft_above 98030',
 'sqft_above 98031',
 'sqft_above 98032',
 'sqft_above 98033',
 'sqft_above 98034',
 'sqft_above 98038',
 'sqft_above 98039',
 'sqft_above 98040',
 'sqft_above 98042',
 'sqft_above 98045',
 'sqft_above 98052',
 'sqft_above 98053',
 'sqft_above 98055',
 'sqft_above 98056',
 'sqft_above 98058',
 'sqft_above 98059',
 'sqft_above 98065',
 'sqft_above 98070',
 'sqft_above 98072',
 'sqft_above 98074',
 'sqft_above 98075',
 'sqft_above 98077',
 'sqft_above 98092',
 'sqft_above 98102',
 'sqft_above 98103',
 'sqft_above 98105',
 'sqft_above 98106',
 'sqft_above 98107',
 'sqft_above 98108',
 'sqft_above 98109',
 'sqft_above 98112',
 'sqft_above 98115',
 'sqft_above 98116',
 'sqft_above 98117',
 'sqft_above 98118',
 'sqft_above 98119',
 'sqft_above 98122',
 'sqft_above 98125',
 'sqft_above 98126',
 'sqft_above 98133',
 'sqft_above 98136',
 'sqft_above 98144',
 'sqft_above 98146',
 'sqft_above 98148',
 'sqft_above 98155',
 'sqft_above 98166',
 'sqft_above 98168',
 'sqft_above 98177',
 'sqft_above 98178',
 'sqft_above 98188',
 'sqft_above 98198',
 'sqft_above 98199',
 'sqft_basement^2',
 'sqft_basement yr_built',
 'sqft_basement yr_renovated',
 'sqft_basement lat',
 'sqft_basement long',
 'sqft_basement sqft_living15',
 'sqft_basement sqft_lot15',
 'sqft_basement month_sold',
 'sqft_basement floors_x_sqft_living',
 'sqft_basement age',
 'sqft_basement basement_1',
 'sqft_basement neighbors_compared',
 'sqft_basement condition_2',
 'sqft_basement condition_3',
 'sqft_basement condition_4',
 'sqft_basement condition_5',
 'sqft_basement floors_1.5',
 'sqft_basement floors_2.0',
 'sqft_basement floors_2.5',
 'sqft_basement floors_3.0',
 'sqft_basement floors_3.5',
 'sqft_basement last_ren',
 'sqft_basement last_ren2',
 'sqft_basement renovated_1',
 'sqft_basement 98002',
 'sqft_basement 98003',
 'sqft_basement 98004',
 'sqft_basement 98005',
 'sqft_basement 98006',
 'sqft_basement 98007',
 'sqft_basement 98008',
 'sqft_basement 98010',
 'sqft_basement 98011',
 'sqft_basement 98014',
 'sqft_basement 98019',
 'sqft_basement 98022',
 'sqft_basement 98023',
 'sqft_basement 98024',
 'sqft_basement 98027',
 'sqft_basement 98028',
 'sqft_basement 98029',
 'sqft_basement 98030',
 'sqft_basement 98031',
 'sqft_basement 98032',
 'sqft_basement 98033',
 'sqft_basement 98034',
 'sqft_basement 98038',
 'sqft_basement 98039',
 'sqft_basement 98040',
 'sqft_basement 98042',
 'sqft_basement 98045',
 'sqft_basement 98052',
 'sqft_basement 98053',
 'sqft_basement 98055',
 'sqft_basement 98056',
 'sqft_basement 98058',
 'sqft_basement 98059',
 'sqft_basement 98065',
 'sqft_basement 98070',
 'sqft_basement 98072',
 'sqft_basement 98074',
 'sqft_basement 98075',
 'sqft_basement 98077',
 'sqft_basement 98092',
 'sqft_basement 98102',
 'sqft_basement 98103',
 'sqft_basement 98105',
 'sqft_basement 98106',
 'sqft_basement 98107',
 'sqft_basement 98108',
 'sqft_basement 98109',
 'sqft_basement 98112',
 'sqft_basement 98115',
 'sqft_basement 98116',
 'sqft_basement 98117',
 'sqft_basement 98118',
 'sqft_basement 98119',
 'sqft_basement 98122',
 'sqft_basement 98125',
 'sqft_basement 98126',
 'sqft_basement 98133',
 'sqft_basement 98136',
 'sqft_basement 98144',
 'sqft_basement 98146',
 'sqft_basement 98148',
 'sqft_basement 98155',
 'sqft_basement 98166',
 'sqft_basement 98168',
 'sqft_basement 98177',
 'sqft_basement 98178',
 'sqft_basement 98188',
 'sqft_basement 98198',
 'sqft_basement 98199',
 'yr_built^2',
 'yr_built yr_renovated',
 'yr_built lat',
 'yr_built long',
 'yr_built sqft_living15',
 'yr_built sqft_lot15',
 'yr_built month_sold',
 'yr_built floors_x_sqft_living',
 'yr_built age',
 'yr_built basement_1',
 'yr_built neighbors_compared',
 'yr_built condition_2',
 'yr_built condition_3',
 'yr_built condition_4',
 'yr_built condition_5',
 'yr_built floors_1.5',
 'yr_built floors_2.0',
 'yr_built floors_2.5',
 'yr_built floors_3.0',
 'yr_built floors_3.5',
 'yr_built last_ren',

In [68]:
df_poly.shape

(4323, 5252)

In [69]:
df.shape

(4323, 101)

In [70]:
selected_columns =['sqft_living',
 'grade',
 'bedrooms sqft_living',
 'bathrooms sqft_living',
 'bathrooms grade',
 'bathrooms sqft_above',
 'bathrooms sqft_living15',
 'bathrooms floors_x_sqft_living',
 'sqft_living^2',
 'sqft_living grade',
 'sqft_living sqft_above',
 'sqft_living lat',
 'sqft_living long',
 'sqft_living sqft_living15',
 'sqft_living floors_x_sqft_living',
 'grade^2',
 'grade sqft_above',
 'grade lat',
 'grade long',
 'grade sqft_living15',
 'grade floors_x_sqft_living',
 'sqft_above^2',
 'sqft_above sqft_living15',
 'sqft_above floors_x_sqft_living',
 'lat floors_x_sqft_living',
 'long floors_x_sqft_living',
 'sqft_living15 floors_x_sqft_living',
 'floors_x_sqft_living^2']

In [71]:
final_pred = final_model.predict(df_poly[selected_columns])

In [72]:
final_pred.mean()

571284.7013751074

## Step 4: Export your predictions

In [73]:
last_df = pd.DataFrame(final_pred)

In [74]:
last_df

                  0
0     670526.016548
1     670526.016548
2     420679.926140
3     466519.347429
4     546885.246498
...             ...
4318  535399.005484
4319  563682.055923
4320  367848.096078
4321  403142.547094
4322  367735.975246

[4323 rows x 1 columns]

In [75]:
last_df.to_csv("housing_preds_Candaur.csv'")